<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/milligram@1.3.0/dist/milligram.css"></link>
</head>

<body>
	<div id="app">
		<form @submit.prevent="onSubmit" v-if="!submitted">
			<div class="errors" v-if="errors">
				{{errors}}
			</div>

			<label>name:</label>
			<input v-model="name" type="text" />

			<label>email:</label>
			<input v-model="email" type="text">
			<br />
			<button type="submit">Submit</button>
		</form>

		<div v-else>
			<h1>Submitted with great success!</h1>
			<form class="">
				<select v-model="make" name="">
					<option v-for="(make_obj, make) in makesAndModels">
						{{make}}
					</option>
				</select>
				<select  v-model="model" name="">
					<option v-for="model in models">
						{{model}}
					</option>
				</select>
			</form>
		</div>
	</div>

	<script src="https://unpkg.com/vue"></script>
	<script>

		var makesAndModels = {
			'BMW': ['m3', 'z3', 'x5'],
			'Toyota': ['camry', 'ft-86', 'prius'],
			'Subaru': ['brz', 'outback', 'legacy']
		};

		var app = new Vue({
			el: '#app',
			data() {
				return {
					submitted: false,
					errors: '',
					name: '',
					email: '',
					make: null,
					models: [],
					model: null,
					makesAndModels: makesAndModels
				};
			},
			methods: {
				onSubmit() {
					const pattern = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))?/;
					this.errors = '';

					if (!this.name) {
						this.errors += 'name required.';
					}

					if (!this.email) {
						this.errors += ' email required.';
					}

					if (!this.email.match(pattern)) {
						this.errors += ' invalid email.';
					}

					if (!this.errors) {
						this.submitted = true;
					}
				}
			},
			watch: {
				make: function() {
					while (this.models.length > 0) {
						this.models.pop();
					}
					if (this.make) {
						var currentModels = this.makesAndModels[this.make];
						for (var i = 0; i < currentModels.length; i++) {
							this.models.push(currentModels[i]);
						}
					}
				}
			}
		});

	</script>
</body>

</html>
